@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(#777,#222);
}
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    overflow-x: hidden;
}

  /* Video BG*/
.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -100;
}
.content{
    position: absolute;
    margin-top: 10%;
    color: #fff;
    margin-left: 8%;
}
.content h1{
    font-size: 7.5vw;
    line-height: 140px;
    font-weight: 600;
    opacity: 0;
}
.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}
.links{
    margin-top: 30px;
    opacity: 0;
}
.links a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    font-weight: 600;
}
.links a:hover{
    color: #d3d6da;
}
.free-img{
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
}
.free-img:hover{
    border-color: #afafaf;
}
.left{
    animation: slideleft 1s linear forwards;
    animation-delay: 1s;
}
@keyframes slideleft{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.left{
    animation-delay: 2s;
}
.links.left{
    animation-delay: 3s;
}
@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(69, 67, 67); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }