* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    background-color: rgb(233, 233, 233);
    
} 

h2 {
    position: absolute;
    color: white;
    text-transform: uppercase;
    margin: 420 20 20 20;
    font-size: 47px;
    background-color: black;
    opacity: .7;
    padding: 25 25;
}

@media (max-width: 710px) {
    h2 {
        margin-top: 450px;
        font-size: 35;
    }
}

@media (max-width: 480px) {
    h2 {
        margin-top: 500px;
        font-size: 15px;
    }
}

h3 {
    margin-top: 80px;
    text-align: center;
    color: black;
    font-size: 40px;  
}

h4 {
    margin-top: 80px;
    text-align: center;
    color: black;
    font-size: 40px;
}

h5{
    margin-top: 130px;
    text-align: center;
    color: black;
    font-size: 40px;
}

/* nav bar + animation on hover */
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 100px;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 0 10px;
}
nav ul li a:after{
    content:"";
    position: absolute;
    background-color: #d3d6da;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* Gallery + animation on hover */
#carouselExampleDark .carousel-item img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

/* faq */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

/* Team-photos + text on hover animation */

#lowerSection {
    margin: 50 auto;
    display: flex;
    justify-content: center;
    
}

figure.team-member {
    font-family: 'Raleway', Arial, sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
    min-width: 200px;
    max-width: 300px;
    max-height: 350px;
    margin: 5px;
    width: 100%;
    background: #000000;
    text-align: center;
}

figure.team-member * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.team-member img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.team-member figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
}

figure.team-member figcaption > div {
    height: 50%;
    overflow: hidden;
    width: 100%;
    position: relative;
}

figure.team-member figcaption::before {
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
    height: 2px;
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.team-member h2,
figure.team-member p {
    margin: 0;
    padding: 30 35;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s,-webkit-transform 0.4s,-moz-transform 0.4s,-o-transform 0.4s,transform 0.4s;
}

figure.team-member h2 {
    display: inline-block;
    word-spacing: -0.1em;
    font-weight: 300;
    text-transform: uppercase;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.team-member h2 span {
    font-weight: 800;
}

figure.team-member p {
    font-weight: 300;
    top: 0%;
    color: #000;
    background: #fff;
    -webkit-transform: translate3d(0%, -50%, 0);
    transform: translate3d(0%, -50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    padding-top: 55px;
}

figure.team-member:hover img {
    opacity: 0.7;
}

figure.team-member:hover figcaption h2,
figure.team-member:hover figcaption p {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.team-member:hover figcaption h2 {
    opacity: 1;
}

figure.team-member:hover figcaption p {
    opacity: 1;
}

figure.team-member:hover figcaption::before {
    background: #ffffff;
    left: 0px;
    right: 0px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.quote {
    margin: 80px auto;
    width: 640px;
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    font-style: normal;
    font-size: 25px;
    text-align: right;  
}

@media only screen and (max-width: 1150px) and (min-width: 300px) {
    #lowerSection {
        flex-wrap: wrap;
        width: 70%;
    }
}

/* About us section*/
.about-section {
    margin-top: 155px;
}

.about {
    background-color: black;
    opacity: .8;
    margin: 60 auto;
    width: 65%;
}

.about-text {
    padding: 40 40;
    font-size: 25px;
    color: whitesmoke;
}

.about-tittle {
    margin-top: 160px;
    text-align: center;
    color: black;
    font-size: 40px;
}

@media only screen and (max-width: 800px){
    .about-text {
        font-size: 20px;
        padding: 15 15;
    }
    .about {
        width: 90%;
    }
    .quote {
        width: 70%;
    }
}

@media only screen and (max-width: 800px){
    .text-box {
        width: 300px;
        font-size: 19px;
    }
    .e-mail {
        font-size: 19px;
    }
}

/* contacts section */
.contact-section {
    width: 350px;
    display:inline-flex;
    margin: 0 auto;
}

/*map + description */
.location {
    margin: 45 20;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.map {
    width: 450px;
    height: 450px;
}

.text-box {
    margin-right: 10px;
    font-size: 26px;
    width: 600px;
}

.e-mail {
    text-decoration: underline;
    color: black;
}

.contacts {
    margin: 10 10;
}

/* footer, social media icons and hover animations*/

footer {
    color: whitesmoke;
    opacity: .9;
    background-color: black;
    font-size: 14px;
    text-align: center;
    height: 83px;
}

.copyright {
    font-size: 14px;
    padding: 33 20;
    text-align: left;
}

.unsplash {
    text-decoration: underline;
}

.fab {
    margin: 15 10;
}

a {
    text-decoration: none;
    color: #fff;
}

.social-icon {
    color: #fff;
}

.social-icons {
    font-size: 14px;
    float: right;
    margin: 10 10;
}

.social-icons {
    vertical-align: top;
    display: inline;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:10 12;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding:10 14;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-instagram:hover {
    background: rgb(240, 11, 144);
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-github {
    padding:10 14;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-github:hover {
    background-color: #5a32a3;
}

@media only screen and (max-width: 600px){
    footer {
        height: 150px;
    }
}

@media only screen and (max-width: 375px) {
    .copyright {
        font-size: 24px;
    }
    footer {
        height: 200px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 420px) {
    .copyright {
        font-size: 20px;
        height: 100px;
    }
    footer {
        height: 170px;
    }
    .social-icons {
        width: 100%;
    }
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    width: 100vw;
    padding: 25px;
    text-align: center;
}
.footer-bottom p{
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }